version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: code_review_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass12345
      POSTGRES_DB: code_review_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  backend:
    image: amansingh3413/code-review-system-backend:latest
    container_name: code_review_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:pass12345@db:5432/code_review_db
      SECRET_KEY: change-this-secret-key-in-production
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    image: amansingh3413/code-review-system-frontend:latest
    container_name: code_review_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge